{% layout "layout.liquid" %} {% block content %}
<div>
  <iframe width="100%" height="820"
  src="https://www.youtube.com/embed/tYVSX4ZKf5c?autoplay=1&mute=1">
 </iframe>

 <h1>Sign in or Sign Up for Anime Watchlist</h1>
    <a href="/user/signup"><button class="btn btn-primary">Signup</button></a>
  <a href="/user/login"><button class="btn btn-danger">Login</button></a>
</div>
{% endblock %}