body{
    background-color: black;
    color: white;
    background-image: url("https://birchtree.nyc3.digitaloceanspaces.com/2020-uploads/darkwall-4.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
img{
    width: 30%;
}
.container-fluid{
    display: flex;
    width: 70%;
    height: 30%;
    box-shadow: 4px 4px 8px white;
    margin: 50px 90px 0px 20em;
}
.container-fluid img{
    width: 100%;
}
/* article{
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px 8px white;
} */
.col-md-3{
    display: inline-block;
    margin: 40px 40px 30px 3em;
    box-shadow: 4px 4px 8px white;
    text-align: center;
}
#carousel{
   margin-left: 15em;
   margin-right: 15em;
   margin-bottom: 8em;
}
header{
    text-align: center;
}
.delete{
    background-color: red;
    color: white;
    border-radius: 50px;
}
.paragraph{
    width: 50%;
    margin: 30px 90px 0px 30em;
}