{% layout "layout.liquid" %} 

{% block content %}
    <div>
    <a href="/anime/new"><button>Add Anime</button></a>

     {% for anime in animes %}
     
    <h3>{{anime.title}}</h3>
    <a href= "/anime/{{ anime._id}}"><img src={{anime.img}}></a>
 
    {% endfor %}
    </div>
{% endblock %}