{% layout "layout.liquid" %} 

{% block content %}
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://store-images.s-microsoft.com/image/apps.63538.14155264259827457.105488aa-806c-444a-891a-090775ca936e.f09463bc-891f-4f49-be4e-5773a5c60063?mode=scale&q=90&h=1080&w=1920" class="d-block w-100" alt="image1">
      </div>
      <div class="carousel-item">
        <img src="https://occ-0-1068-92.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeLs6vsoHZVYo0MeH0HcuOXXcXu1UsudNVY-bCjLOWhQZEwKECYgDvGnWddsw2zZComfftzeOANYDQP57qWwyyo30gMj.jpg?r=0cb" class="d-block w-100" alt="image2">
      </div>
      <div class="carousel-item">
        <img src="https://otakukart.com/wp-content/uploads/2021/04/wp6319738.jpg" class="d-block w-100" alt="image3">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/I/51m6JmliIaL._AC_.jpg" class="d-block w-100" alt="image3">
      </div>
      <div class="carousel-item">
        <img src="https://i0.wp.com/skdesu.com/wp-content/uploads/2018/06/bleach.jpg?resize=800%2C373&ssl=1" class="d-block w-100" alt="image3">
      </div>
      <div class="carousel-item">
        <img src="https://www.looper.com/img/gallery/mob-psycho-100-season-3-release-date-cast-and-plot/l-intro-1623935572.jpg" class="d-block w-100" alt="image3">
      </div>
      <div class="carousel-item">
        <img src="https://www.gojinshi.com/wp-content/uploads/2021/06/That-Time-I-Got-Reincarnated-as-a-Slime-Watch-Order-Guide-1024x538.jpg" class="d-block w-100" alt="image3">
      </div>
      <div class="carousel-item">
        <img src="https://store-images.s-microsoft.com/image/apps.18464.67116328302209369.766d5242-c87b-4e0a-9cef-7b3e870a4a02.b039bb28-583e-48a6-b410-71c129d21c0b?mode=scale&q=90&h=1080&w=1920" class="d-block w-100" alt="image3">
      </div>
      <div class="carousel-item">
        <img src="https://www.denofgeek.com/wp-content/uploads/2021/01/Demon-Slayer-Kimetsu-No-Yaiba-Season-1-Tanjiro-Attack-Collage.jpg?fit=1200%2C675" class="d-block w-100" alt="image3">
      </div>
      <div class="carousel-item">
        <img src="https://otakukart.com/wp-content/uploads/2021/04/AAAABRpjstglCxdnk-N1buyJJEUpI0tMn28yj9-UXnUCY40nWh3L-2osrAa5WWod7W1UKeDBcK-T__tqjqiKSXZCPm48TEGe-1200x900.jpg" class="d-block w-100" alt="image3">
      </div>
    </div>
  </div>

    <header>
    <h1>Recommended Anime</h1>
    
    <a href="/anime/new" ><button type="button" class="btn btn-primary">Add Anime</button></a>
    <a href="/anime/favorites"><button class="btn btn-primary">My Watchlist</button></a>
    <a href="/user/logout"><button type="button" class="btn btn-success">Logout</button></a>
  </header>

    
    <!-- <div class="container"> -->
      <form action="/anime/favorties" method="post">   

    <div class="container-fluid">
        <div class="row">
     {% for anime in animes %}
     <div class="col-md-3">
     <div><h5>{{anime.title}}</h5></div>
     <div><a href= "/anime/{{ anime._id}}"><img src={{anime.img}}></a></div>
     <input type="submit" value="Add to watchlist">
    </form>
        </div>
        
    {% endfor %}
    </div>
</div>
     
    <!-- </div> -->
<footer>
  <div>
  <h1>Where To Watch </h1>
  <h3><a href="https://www.crunchyroll.com/">Cruncyroll</a></h3>
  <h3><a href="https://www.funimation.com/">Funimation</a></h3>
  <h3><a href="https://www.netflix.com/browse/genre/7424">Netflix</a></h3>
  </div>
</footer>
{% endblock %}