{% layout "layout.liquid" %} 

{% block content %}

<div>

  <form action="/anime" method="post">
    <fieldset>
      <legend>Add New Anime</legend>

      <label>
        Title:<input type="text" name="title" placeholder="Enter Anime Title" />
      </label>

      <label>
        Description:<input type="text" name="description" placeholder="Enter a brief description" />
      </label>

      <label> 
        Photo:<input type="| img_url: 'medium'" name="img" placeholder="Photo URL"/>
      </label>

      <label> 
        Video:<input type="url" name="video" placeholder="Vdieo URL"/>
      </label>

    </fieldset>
    <input type="submit" value="Add New Anime" />
  </form>
</div>
{% endblock %}